<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Product List</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <head th:replace="./modules/header-link :: header-link"></head>
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Open+Sans"
    />
    <link rel="stylesheet" href="/template/assets/css/popup.css" />
    <link rel="stylesheet" href="/template/assets/css/product-list.css" />
  </head>
  <body>
    <!-- WRAPPER -->
    <div id="wrapper">
      <!-- NAVBAR -->
      <div th:replace="./modules/header-navbar :: header-navbar"></div>
      <!-- LEFT SIDEBAR -->
      <div th:replace="./modules/left-sldebar :: left-sidebar"></div>

      <!-- MAIN CONTENT -->
      <div class="main-content">
        <div class="container-fluid">
          <h3 class="page-title">.</h3>
          <!-- Headline Chart -->
          <div class="panel panel-headline">
            <div class="panel-heading">
              <h3 class="panel-title">주간 제품 통계</h3>
              <br />
              <div class="mobile-center-2">
                <input
                  class="form-control date-input inline"
                  type="date"
                  name="startDate"
                />
                <input
                  class="form-control date-input inline"
                  type="date"
                  name="endDate"
                />
              </div>
              <div class="mobile-center-2 m-mgt-1">
                <button type="button" class="btn btn-primary date-btn inline" data-type="totalSales">
                  날짜 변경
                </button>
                <button type="button" class="btn btn-primary reset-btn inline">
                  Today
                </button>
              </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="metric chartBtn" id="totalSales">
                    <span class="icon"><i class="fa fa-download"></i></span>
                    <p>
                      <span class="number"></span>
                      <span class="title">총 매출</span>
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="metric chartBtn" id="totalProperty">
                    <span class="icon"><i class="fa fa-shopping-bag"></i></span>
                    <p>
                      <span class="number"></span>
                      <span class="title">투입 비용</span>
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="metric chartBtn" id="totalRoi">
                    <span class="icon"><i class="fa fa-bar-chart"></i></span>
                    <p>
                      <span class="number"></span>
                      <span class="title">총 ROI</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9" id="canvasParent">
                  <h2 id="canvas-text"></h2>
                  <canvas id="headlineChart"></canvas>
                  <!--
						<div id="headline-chart" class="ct-chart"></div>
						-->
                </div>

                <div class="col-md-3">
                  <div class="weekly-summary text-right">
                    <div class="chartFilter">
                      <input
                              type="text"
                              class="form-control"
                              placeholder="제품명"
                              name="productName"
                              autocomplete="off"
                      /> <div class="chartFilterBtn"><img src="/template/assets/img/search-icon.png"/></div>
                    </div>
                    <div id="productSelectArea">
                      <th:block th:each="prod,index : ${allProductList}">
                      <label class="fancy-checkbox prod-checkBox">
                        <th:block th:if="${index.index} < 10">
                          <input type="checkbox" th:id="${prod.no}" checked>
                        </th:block>
                        <th:block th:unless="${index.index} < 10">
                          <input type="checkbox" th:id="${prod.no}">
                        </th:block>
                        <span th:text="${prod.productName}" th:class="${'productNo-' + prod.no}"></span>
                      </label>
                      </th:block>

                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- END Headline Chart -->
          <!-- 제품 생성 -->
          <div class="panel panel-headline" id="product_list">
            <div id="reload_panel">
              <div class="panel-heading">
                <h3 class="panel-title" id="product_list_h3">사이트 리스트</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-7">
                    <form id="product_list_form">
                      <div class="input-group">
                        <input
                          type="text"
                          id="searchName"
                          class="form-control"
                          placeholder="사이트명을 검색하세요 ..."
                          name="productName"
                        />
                        <span class="input-group-btn" id="searchBtn"
                          ><button type="button" class="btn btn-primary">
                            검색
                          </button></span
                        >
                        <span class="input-group-btn" id="searchResetBtn"
                          ><button
                            type="button"
                            class="btn btn-primary reset-btn inline"
                          >
                            <i class="fa fa-refresh"></i>검색 초기화
                          </button></span
                        >
                      </div>
                    </form>
                  </div>
                  <div class="col-md-5 mobile-center">
                    <input
                      class="product-add admin-outline-btn inline"
                      style="width: 120px"
                      type="button"
                      value="자사몰 등록"
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div th:each="prod : ${productList}" class="col-md-4 top-1">
                    <div
                      class="metric center cursor product"
                      style="height: 123px"
                    >
                      <br />
                      <div th:text="${prod.productName}" class="top-1"></div>
                      <input type="hidden" th:value="${prod.no}" />
                    </div>
                  </div>
                  <div class="col-md-4 top-1">
                    <div
                      class="product-add metric center cursor"
                      style="height: 123px"
                    >
                      <i class="fa fa-plus-square" style="font-size: 50px"></i>
                      <br />
                      <div class="top-1">사이트 추가</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Paging -->
              <nav class="pagination_nav" th:if="${productList != null}">
                <ul class="pagination">
                  <li
                    th:classappend="${!pagination.prev} ? disabled"
                    class="page-item"
                    th:value="${pagination.startPage}"
                  >
                    <a class="page-link">이전</a>
                  </li>
                  <th:block
                    th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
                  >
                    <li
                      class="page-item"
                      th:value="${i}"
                      th:classappend="${pagination.page == i} ? active"
                    >
                      <a class="page-link" th:text="${i}"></a>
                    </li>
                  </th:block>
                  <li
                    th:classappend="${!pagination.next} ? disabled"
                    class="page-item"
                    th:value="${pagination.endPage}"
                  >
                    <a class="page-link">다음</a>
                  </li>
                </ul>
              </nav>
              <!-- END Paging -->
            </div>
          </div>
        </div>
      </div>

      <!-- 여기에 인클루드 -->
     <th:block th:include="./popup/product-popup"></th:block>
      <!--<script type="text/javascript" th:src="@{/templates/container/product/product.js}"></script>-->

      <!-- END MAIN CONTENT -->

      <!-- FOOTER -->
      <div th:replace="./modules/footer :: footer"></div>
    </div>
    <!-- END WRAPPER -->
    <div th:replace="./modules/body-link :: body-link"></div>
    <th:block th:include="./container/product/product-list_js"></th:block>
    <th:block th:include="./container/util/chart_js"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </body>
</html>
