<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
  <head>
    <title>Project List</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <head th:replace="./modules/header-link :: header-link"></head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://kit.fontawesome.com/93f4ccb710.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/template/assets/css/popup.css" />
  </head>
  <body>
    <div id="wrapper">
      <div th:replace="./modules/header-navbar :: header-navbar"></div>
      <div th:replace="./modules/left-sldebar :: left-sidebar"></div>
      <div class="main-content">
        <div class="container-fluid">
          <h3 class="page-title">product name</h3>
          <div class="row" style="padding: 0 15px 0 15px">
            <div class="panel panel-headline col-md-12">



              <div class="panel-heading">
                <a href="/user/product-list"
                  ><img
                    class="panel-left-arrow"
                    src="https://cdn.iconscout.com/icon/free/png-256/left-arrow-1485722-1258943.png"
                /></a>
                <h3
                  class="panel-product-title"
                  style="display: inline"
                  th:text="${productName}"
                />

                <button type="button" class="btn btn-danger reset-btn inline" style="float: right;background-color: red!important" id="removeProduct">
                  <i class="far fa-trash-alt"></i>
                  브랜드 삭제
                </button>
              </div>
            </div>
          </div>
          <!-- Headline Chart -->
          <div class="row" style="padding: 0 15px 0 15px">
            <div class="panel panel-headline col-md-6" id="roi_chart">
              <div class="panel-heading">
                <h3 class="panel-title">전체 프로젝트 통계</h3>
              </div>
              <div class="panel-body">
                <canvas id="line-chart" class="ct-chart chart-check"></canvas>
              </div>
            </div>
            <div
              class="panel panel-headline col-md-6"
              id="sales_chart"
              style="height: 413px">
              <div class="panel-heading">
                <h3 class="panel-title">매출 비율</h3>
              </div>
              <div class="panel-body">
                <canvas id="doughnut-chart" class="chart-check"></canvas>
              </div>
            </div>
          </div>
          <!-- END Headline Chart -->
          <!-- 제품 생성 -->
          <div class="panel panel-headline" id="project_list">
            <div id="reload_panel">
              <div class="panel-heading">
                <span class="product-title">프로젝트 목록</span>

                  <button th:if="${gtmExists}"
                          type="button"
                          class="btn btn-primary "
                          style="border-radius: 5px;float: right;height: 36px;margin-left: 10px;background-color: #00a0f0 !important;width: 86px;"
                          th:onclick="window.open('/react/react.html?productNo=[[${productNo}]]')"
                >
                      GTM
                  </button>
                  <button th:if="${!gtmExists}"
                          type="button"
                          class="btn btn-primary "
                          style="border-radius: 5px;float: right;height: 36px;margin-left: 10px;background-color: #00a0f0 !important;width: 86px;"
                          id="create-gtm-btm"
                  >
                      GTM 생성
                  </button>
                <input
                  id="project-add"
                  class="admin-outline-btn"
                  type="button"
                  value="생성"
                />
                <button
                  type="button"
                  class="btn btn-primary reset-btn inline"
                  id="project-refresh"
                >
                  <i class="fa fa-refresh"></i> 새로고침
                </button>
              </div>
              <div class="panel-body" style="overflow-x: auto">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>프로젝트</th>
                      <th>분류</th>
                      <th>성별</th>
                      <th>연령</th>
                      <th>시작일</th>
                      <th>종료일</th>
                      <th>링크</th>
                      <th>투입비용</th>
                      <th>UTM</th>
                      <!--
                      <th>수정</th>
                      <th>삭제</th>
                      -->
                    </tr>
                  </thead>
                  <tbody id="project-list-tbody">
                    <tr th:if="${projectList == null}">
                      <td colspan="8" style="text-align: center">
                        조회된 데이터가 없습니다
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- Paging -->
              <nav class="pagination_nav">
                <ul class="pagination" th:if="${projectList != null}">
                  <li
                    th:classappend="${!pagination.prev} ? disabled"
                    class="page-item"
                    th:value="${pagination.startPage}"
                  >
                    <a class="page-link">이전</a>
                  </li>
                  <th:block
                    th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
                  >
                    <li
                      class="page-item"
                      th:value="${i}"
                      th:classappend="${pagination.page == i} ? active"
                    >
                      <a class="page-link" th:text="${i}"></a>
                    </li>
                  </th:block>
                  <li
                    th:classappend="${!pagination.next} ? disabled"
                    class="page-item"
                    th:value="${pagination.endPage}"
                  >
                    <a class="page-link">다음</a>
                  </li>
                </ul>
              </nav>
              <!-- END Paging -->
            </div>
          </div>
        </div>
      </div>

      <!--제품생성 팝업-->
      <div id="project_add_popup" class="layer_popup" style="display: none">
        <div class="popup_main" style="width: 500px">
          <a href="" class="closeBtn">
            <img src="/img/icon_close.png" />
          </a>
          <div class="popup_title">프로젝트 생성</div>
          <form id="project-form">
            <input
              type="hidden"
              th:value="${productNo}"
              name="productModel.no"
            />
            <div class="form-group">
              <label>프로젝트 명</label>
              <div>
              <input
                type="text"
                class="form-control"
                name="projectName"
                placeholder="변경 할 사이트 이름을 적어주세요"
                autocomplete="off"
                style="display: inline-block; width: 70%"
              />
              <button id="project-name-check" class="btn btn-success" style="margin-bottom: 2px">중복 확인</button>
              </div>
            </div>
            <div class="form-group">
              <div style="display: inline-block; width: 150px">
                <label>대분류 선택</label>
                <select name="bigCategoryModel.no" class="form-control">
                  <option
                      th:each="i : ${category}"
                      th:value="${i.no}"
                      th:text="${i.name}"
                  ></option>
                </select>
              </div>
              <div style="display: inline-block; width: 150px">
                <label>소분류 선택</label>
                <select name="smallCategoryModel.no" class="form-control">
                  <option
                      th:each="i : ${category[0].smallCategoryList}"
                      th:value="${i.no}"
                      th:text="${i.name}"
                  ></option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label>시작일 - 종료일</label>
              <div>
                <input
                  class="form-control date-input inline"
                  type="date"
                  name="startDate"
                />
                <span> - </span>
                <input
                  class="form-control date-input inline"
                  type="date"
                  name="endDate"
                />
              </div>
            </div>
            <div class="form-group">
              <label>사이트</label>
              <select class="form-control" name="crawlSiteListModel.no">
                <option value="">> 사이트를 선택해주세요</option>
                <option
                  th:each="i : ${crawlSiteList}"
                  th:value="${i.no}"
                  th:text="${i.name}"
                ></option>
              </select>
            </div>

            <div class="form-group" id="user-write-form" style="display:none;">
              <label>사이트 및 광고타입 입력</label>
              <div class="row">
                <div class="col-md-6" style="display: inline-block">
                  <input type="text" class="form-control" placeholder="사이트 입력 (소스)" autocomplete="off" name="source"/>
                </div>
                <div class="col-md-6" style="display: inline-block">
                  <input type="text" class="form-control" placeholder="광고 타입 입력(매체)" autocomplete="off" name="medium"/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>광고 타입</label>
              <select class="form-control" name="method"></select>
              <!--<select class="form-control" name="prMethodModel.no"></select>-->
            </div>
            <div class="form-group" id="link">
              <label>링크</label>
              <div class="row">
                <div class="col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="https://www.example.com"
                    name="link"
                    autocomplete="off"
                  />
                </div>
<!--                <div class="col-md-3">-->
<!--                  <button type="button" class="btn btn-primary">-->
<!--                    유효성 확인-->
<!--                  </button>-->
<!--                </div>-->
              </div>
            </div>
            <div class="form-group">
              <div style="display: inline-block; width: 150px">
              <label>타겟 연령</label>
              <select class="form-control" name="age">
                <option value="0">전체</option>
                <option value="10">10대</option>
                <option value="20">20대</option>
                <option value="30">30대</option>
                <option value="40">40대</option>
                <option value="50">50대</option>
                <option value="60">60대 이상</option>
              </select>
                </div>
              <div style="display: inline-block; width: 150px">
                 <label>타겟 성별</label>
              <select class="form-control" name="gender">
                <option value="A">전체</option>
                <option value="M">남성</option>
                <option value="F">여성</option>
              </select>
              </div>
            </div>
            <div class="form-group">
              <label>투입비용</label>
              <input
                type="text"
                class="form-control onlyNumber"
                placeholder="투입 비용을 입력해주세요"
                name="property"
                maxlength="15"
              />
            </div>
            <button
              type="button"
              id="create-project"
              class="btn btn-primary inline"
            >
              생성
            </button>
          </form>
        </div>
      </div>
      <!--제품 수정 팝업-->
      <div id="project_edit_popup" class="layer_popup" style="display: none">
        <div class="popup_main" style="width: 480px">
          <a href="" class="closeBtn">
            <img src="/img/icon_close.png" />
          </a>
          <div class="popup_title">프로젝트 수정</div>
          <form id="project-edit-form">
            <input
              type="hidden"
              th:value="${productNo}"
              name="productModel.no"
            />
            <div class="form-group">
              <label>프로젝트 명</label>
              <input
                type="text"
                class="form-control"
                name="projectName"
                placeholder="변경 할 사이트 이름을 적어주세요"
                autocomplete="off"
              />
            </div>
            <div class="form-group">
              <label>시작일 - 종료일</label>
              <div>
                <input
                  class="form-control date-input inline"
                  type="date"
                  name="projectStartDate"
                />
                <span> - </span>
                <input
                  class="form-control date-input inline"
                  type="date"
                  name="projectEndDate"
                />
              </div>
            </div>
            <div class="form-group">
              <label>사이트</label>
              <select class="form-control" name="crawlSiteListModel.no">
                <option value="">> 사이트를 선택해주세요</option>
                <option
                  th:each="i : ${crawlSiteList}"
                  th:value="${i.no}"
                  th:text="${i.name}"
                ></option>
              </select>
            </div>
            <div class="form-group">
              <label>광고 타입</label>

              <select class="form-control" name="method"></select>
              <!--<select class="form-control" name="prMethodModel.no"></select>-->
            </div>
            <div class="form-group" id="link-edit">
              <label>링크</label>
              <div class="row">
                <div class="col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="링크를 입력해주세요"
                    name="link"
                    value="http://"
                    autocomplete="off"
                  />
                </div>
<!--                <div class="center">-->
<!--                  <button type="button" class="btn btn-primary">-->
<!--                    유효성 확인-->
<!--                  </button>-->
<!--                </div>-->
              </div>
            </div>
            <div class="form-group">
              <label>투입비용</label>
              <input
                type="text"
                class="form-control onlyNumberEdit"
                placeholder="투입 비용을 입력해주세요"
                name="property"
                maxlength="15"
              />
            </div>
            <button
              type="button"
              id="edit-project"
              class="btn btn-primary inline"
            >
              수정
            </button>
          </form>
        </div>
      </div>
      <!--UTM 팝업-->
      <div id="project-utm-popup" class="layer_popup" style="display: none">
        <div class="popup_main" style="width: 485px">
          <a href="" class="closeBtn">
            <img src="/img/icon_close.png" />
          </a>
          <div class="popup_title">UTM</div>
          <form>
            <div class="form-group">
              <label>다음 UTM 링크를 복사하여 사용하십시오</label>
              <div id="service" class="row">
                <div class="col-md-12">
                  <input
                    type="text"
                    class="form-control utm-link"
                    placeholder="UTM 주소"
                    readonly
                  />
                </div>
              </div>
            </div>
            <h5>위 링크 클릭 시 복사가 가능합니다</h5>
          </form>
        </div>
      </div>
      <!-- END MAIN CONTENT -->

      <th:block th:include="./popup/project-popup"></th:block>


      <!-- FOOTER -->
      <div th:replace="./modules/footer :: footer"></div>
    </div>
    <!-- END WRAPPER -->
    <div th:replace="./modules/body-link :: body-link"></div>
    <th:block th:include="./container/project/project-list_js"></th:block>
    <th:block th:include="./container/product/product-list_js"></th:block>
    <th:block th:include="./container/util/chart_js"></th:block>
    <!--<script type="text/javascript" th:src="@{/container/project/project.js}"></script>-->
  </body>
</html>
