<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Project Detail</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <head th:replace="./modules/header-link :: header-link"></head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>-->

    <link rel="stylesheet" href="/template/assets/css/popup.css" />
    <link rel="stylesheet" href="/template/assets/css/project-detail.css">
  </head>
  <body>
    <div id="wrapper">
      <div th:replace="./modules/header-navbar :: header-navbar"></div>
      <div th:replace="./modules/left-sldebar :: left-sidebar"></div>
      <div class="main-content">
        <div class="container-fluid">
          <h3 class="page-title">product name</h3>
          <div class="row" style="padding: 0 15px 0 15px">
            <div class="panel panel-headline col-md-12">
              <div class="panel-heading">
                <a id="gotoList" href="#"
                  ><img
                    class="panel-left-arrow"
                    src="https://cdn.iconscout.com/icon/free/png-256/left-arrow-1485722-1258943.png"
                /></a>
                <h3
                  class="panel-product-title"
                  style="display: inline"
                  th:text="${project.projectName}"
                />
              </div>
            </div>
          </div>

          <!-- Headline Chart -->
          <div class="row" style="padding: 0 15px 0 15px">
            <div class="panel panel-headline col-md-6" id="roi_chart" style="height: 800px">
              <div class="panel-heading">
                <h3 class="panel-title">프로젝트 통계</h3>
              </div>
              <div class="panel-body">
                <canvas id="multiple-chart" class="ct-chart chart-check" height="500" style="max-height: 500px !important;"></canvas>
              </div>
            </div>

            <div class="panel panel-headline col-md-6" style="height: 800px">
              <div class="panel-heading row">
                <h3 class="panel-title col-md-6">프로젝트 정보</h3>
                <div class="edit-buttons col-md-6">
                  <div class="btn btn-warning update">수정</div>
                  <div class="btn btn-danger delete">삭제</div>
                </div>
              </div>
              <div class="panel-body">
                <form id="project-edit-form">

                  <div id="productNo" th:text="${project.productModel.no}"
                       style="display: none"></div>
                  <div class="form-group">
                    <label>프로젝트 명</label>
                    <input
                            type="text"
                            class="form-control"
                            name="projectName"
                            placeholder="변경 할 사이트 이름을 적어주세요"
                            autocomplete="off"
                            th:value="${project.projectName}"
                    />
                  </div>

                  <div class="form-group">
                    <div style="display: inline-block; width: 150px">
                      <label>대분류 선택</label>
                      <select name="bigCategoryModel.no" class="form-control">
                        <th:block th:each="i : ${category}">
                          <option th:if="${i.no == project.bigCategoryModel.no}"
                                  th:value="${i.no}"
                                  th:text="${i.name}"
                                  selected
                          ></option>
                          <option th:unless="${i.no == project.bigCategoryModel.no}"
                                  th:value="${i.no}"
                                  th:text="${i.name}"
                          ></option>
                        </th:block>
                      </select>
                    </div>
                    <div style="display: inline-block; width: 150px">
                      <label>소분류 선택</label>
                      <select name="smallCategoryModel.no" class="form-control">
                        <th:block th:each="i : ${category}">
                          <th:block th:if="${i.no == project.bigCategoryModel.no}">
                            <th:block th:each="j : ${i.smallCategoryList}">
                              <option th:if="${j.no == project.smallCategoryModel.no}"
                                      th:value="${j.no}"
                                      th:text="${j.name}"
                                      selected
                              ></option>
                              <option th:unless="${j.no == project.smallCategoryModel.no}"
                                      th:value="${j.no}"
                                      th:text="${j.name}"
                              ></option>
                            </th:block>
                          </th:block>
                        </th:block>
                        <option
                                th:value="${project.smallCategoryModel.no}"
                                th:text="${project.smallCategoryModel.name}"
                        ></option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>시작일 - 종료일</label>
                    <div>
                      <input
                              class="form-control date-input inline"
                              type="date"
                              name="projectStartDate"
                              th:value="${startDate}"
                      />
                      <span> - </span>
                      <input
                              class="form-control date-input inline"
                              type="date"
                              name="projectEndDate"
                              th:value="${endDate}"
                      />
                    </div>
                  </div>
                  <th:block th:if="${project.crawlSiteListModel.no != 999}">
                    <div class="form-group">
                      <label>사이트</label>
                      <select class="form-control" readonly>
                        <option
                                th:each="i : ${project.crawlSiteListModel}"
                                th:value="${i.no}"
                                th:text="${i.name}"
                        ></option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>광고 타입</label>

                      <select class="form-control" readonly>
                        <option
                                th:each="i : ${prMethodList}"
                                th:value="${i.medium}"
                                th:text="${(i.pType == 'P') ? '광고' : '홍보'}"></option>
                      </select>
                    </div>
                  </th:block>

                  <th:block th:unless="${project.crawlSiteListModel.no != 999}">
                    <div th:class="form-group">
                      <label>사이트 및 광고타입</label>
                      <div class="row">
                        <div class="col-md-6" style="display: inline-block">
                          <input type="text" class="form-control" th:value="${project.utm.split('utm_source=')[1].split('&utm_content')[0]}" autocomplete="off" readonly/>
                        </div>
                        <div class="col-md-6" style="display: inline-block">
                          <input type="text" class="form-control" th:value="${project.utm.split('utm_medium=')[1].split('&utm_source')[0]}" autocomplete="off" readonly/>
                        </div>
                      </div>
                    </div>
                  </th:block>

                  <div class="form-group" id="link-edit">
                    <label>링크</label>
                    <div class="row">
                      <div class="col-md-12" style="padding-right: 0">
                        <input
                                type="text"
                                class="form-control"
                                placeholder="링크를 입력해주세요"
                                name="link"
                                th:value="${project.link}"
                                autocomplete="off"
                        />
                      </div>
<!--                      <div class="col-md-5" style="text-align: right">-->
<!--                        <button type="button" class="btn btn-primary">-->
<!--                          유효성 확인-->
<!--                        </button>-->
<!--                      </div>-->
                    </div>
                  </div>

                  <div class="form-group">
                    <div style="display: inline-block; width: 150px">
                      <label>타겟 연령</label>
                      <select class="form-control age" name="age" >
                        <option value="0">전체</option>
                        <option value="10">10대</option>
                        <option value="20">20대</option>
                        <option value="30">30대</option>
                        <option value="40">40대</option>
                        <option value="50">50대</option>
                        <option value="60">60대 이상</option>
                      </select>
                    </div>
                    <div style="display: inline-block; width: 150px">
                      <label>타겟 성별</label>
                      <select class="form-control gender" name="gender">
                        <option value="A">전체</option>
                        <option value="M">남성</option>
                        <option value="F">여성</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>투입비용</label>
                    <input
                            type="text"
                            class="form-control onlyNumberEdit property"
                            placeholder="투입 비용을 입력해주세요"
                            name="property"
                            maxlength="15"
                            th:value="${project.property}"
                    />
                  </div>
                  <div class="form-group">
                    <label>UTM</label>
                    <textarea class="form-control utm" th:text="${project.utm}" readonly style="resize:none"></textarea>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- END Headline Chart -->

          <!--
          <div class="row" style="padding: 0 15px 0 15px">
            <div class="panel panel-headline col-md-6" style="min-height: 644px">
              <div class="panel-heading">
                <h3 class="panel-title">으라차차차트</h3>
              </div>
              <div class="panel-body">

              </div>
            </div>
        -->
          </div>
        </div>
      </div>

      <!-- FOOTER -->
      <div th:replace="./modules/footer :: footer"></div>

    </div>
    <!-- END WRAPPER -->
    <div th:replace="./modules/body-link :: body-link"></div>

    <th:block th:include="./container/project/project-detail_js"></th:block>
    <th:block th:include="./container/util/chart_js"></th:block>
  </body>
</html>
