<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title th:text="${title}"></title>
  </head>
  <body>
    <script>
      var msg = "[[${message}]]";
      var red = "[[${redirect}]]";
      alert(msg);
      location?.replace(red);
    </script>
  </body>
</html>
