<script type="text/javascript" th:inline="javascript">
  const addCommas = x => x?.toString()?.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  const NODE_SERVER = "http://dev.urbandigital.com:5000";
  function convertToPlain(html) {
    var tempDivElement = document.createElement("div");
    tempDivElement.innerHTML = html;
    return tempDivElement.textContent || tempDivElement.innerText || "";
  }
  $(document).ready(() => {
      let productNo = $("input[name='productModel.no']").val();
      const projectList =
      /*[[${totalProjectList}]]*/

      const productLogList =
      /*[[${logList}]]*/

      $("#roi_chart").height($("#sales_chart").height());

    const urlValidation = selecter => {
      $(`${selecter} button`).click(() => {
        const val = $(`${selecter} input`).val();
        const encodingUrl = encodeURIComponent(val);
        axios
          .get(`${NODE_SERVER}/crawling/test/${encodingUrl}`)
          .then(res => {
            alert("링크 검사가 완료되었습니다");
            $(`${selecter} input`).attr("readonly", true);
            $(`${selecter} button`).text("확인 완료");
            $(`${selecter} button`).attr("disabled", true);
          })
          .catch(err => {
            err?.response?.status === 404
              ? alert("지원하지 않는 사이트입니다")
              : alert("사이트 내에 유효한 페이지가 존재하지 않습니다");
          });
      });
    };

    const arrayLengthChecker = (arr, limit) => {
        return (arr.length > limit) ? arr.slice(arr.length - 10, arr.length) : arr;
    }

    const getLabels = data => {
        const labels = data.map(i => {
            return i.createDate.split("T")[0]
        });

        return arrayLengthChecker(labels, 10);
    }

      const getLineChartData = (data, type) => {
          const datas = data.map(i => {
              return i[type];
          });

          return arrayLengthChecker(datas, 10);
      }

    const getLineChartDatas = data => {
        let direct = [];
        let indirect = [];
        let roi = [];

        for (let i of data) {
            direct.push(i.direct);
            indirect.push(i.indirect);
            roi.push(i.roi);
        }

        return new Map().set("직접기여", direct).set("간접기여", indirect).set("ROI", roi);
    }

    const createLineChart = data => {

        if (data === null || data.length === 0) {
            $("#line-chart").parent().text("조회된 데이터가 없습니다");
            return;
        }

        let idx = 0;
        const chartData = Array.from(getLineChartDatas(data)).map(([k, v]) => {
            return {
                label: k,
                borderColor: "#" + (0x3e95cd - idx++ * 1100).toString(16),
                data: v
            }
        });

        const labels = getLabels(data);
        const config = {
            type: "line",
            data: {
                labels,
                datasets: chartData
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            },
        };

        $("#line-chart").height(300);
        new Chart($("#line-chart"), config);
    }

    $("#service .col-md-12").click(() => {
      $(".utm-link").select();
      document.execCommand("copy");
      alert("클립보드가 복사되었습니다!");
    });


    const createDoughnutChart = () => {
      let map = new Map();
      let colorArr = [];
      let check = [];

      if (projectList.length === 0) {
        $("#doughnut-chart").parent().text("조회된 데이터가 없습니다");
        return;
      }

      for (let i = 0; i < projectList.length; i++) {
        colorArr[i] = "#" + (0x3e95cd - i * 1100).toString(16);
      }

      for (let i of projectList) {
        map.set(i.projectName, i.sales);
        if (i.sales === 0) check.push(1);
      }

      if (check.length === map.size) {
        $("#doughnut-chart").parent().text("조회된 데이터가 없습니다");
        return;
      }

      new Chart($("#doughnut-chart"), {
        type: "doughnut",
        data: {
          labels: Array.from(map.keys()),
          datasets: [
            {
              backgroundColor: colorArr,
              data: Array.from(map.values()),
            },
          ],
        },
        options: {
          title: { display: true, text: "각 제품에 대한 매출 비율" },
          responsive: true,
          maintainAspectRatio: false,
          cutoutPercentage: 60,
        },
      });

    };

    createLineChart(/*[[${projectLogList}]]*/);
    createDoughnutChart();

    async function fetchProjectList() {
      let getProjectList =
        /*[[${projectList}]]*/

          /* 수정/삭제 버튼 필요시 아래코드 append 에 삽입 */
          /*
            <td class="modify-btn"><span class="label label-warning cursor">수정</span></td>
            <td class="delete-btn"><span class="label label-danger cursor">삭제</span></td>
          */

        getProjectList?.map(v => {
          let {
            no,
            data,
            projectName,
            prMethodModel,
            projectStartDate,
            projectEndDate,
            link,
            property,
            utm,
            age,
            gender
          } = v;
          let ptype = utm?.split("medium=")[1].split("&utm_source")[0];

          projectStartDate = projectStartDate?.replace("T", " ");
          projectEndDate = projectEndDate?.replace("T", " ");
          property = addCommas(property);
          $("#project-list-tbody").append(
            `<tr class="table-tr" data-utm=${utm} data-no=${no}>
            <td class="edit-project"><div class="table-text"><a href="/user/project-list/detail/${no}">${projectName}</a></div></td>
            <td class="edit-project"><div class="table-text">${ptype}</div></td>
            <td class="edit-project"><div class="table-text">${gender}</div></td>
            <td class="edit-project"><div class="table-text">${age}</div></td>
            <td class="edit-project"><div class="table-text">${projectStartDate}</div></td>
            <td class="edit-project"><div class="table-text">${projectEndDate}</div></td>
            <td class="edit-project"><div class="table-text">${link}</div></td>
            <td class="edit-project"><div class="table-text" style="text-align: left; color: #888888; margin-right: 15px">${property}원</div></td>
            <td class="buttn"><span class="label label-success cursor">클릭</span></td>
          </tr>
          `
          );
        });
    }
    fetchProjectList();

    // create project
    $("#project-add").click(e => {
      $("#project_add_popup").show();
      e.preventDefault();
    });
    $(".popup_main").click(e => e.stopPropagation());
    $(".layer_popup .closeBtn").click(function (e) {
      e.preventDefault();
      $(".layer_popup").hide();
      const layerId = $(this).parents("div.layer_popup").attr("id");
      if (layerId === "project-utm-popup") return;
      window.location.reload();
    });

    // Edit Project
    // $("#project-list-tbody .table-tr .modify-btn").click(function (e) {
    //   e.preventDefault();
    //   const no = $(this).parent().data("no");
    //   window.location.href = `/user/project-list/detail/${no}`;
    // });
    $("#project-list-tbody .table-tr .modify-btn").click(function (e) {
      e.preventDefault();
      const no = $(this).parent().data("no");
      fetch(`/rest/project?projectNo=${no}`)
        .then(res => res.json())
        .then(json => {
          let {
            projectName,
            projectStartDate,
            projectEndDate,
            link,
            property,
          } = json;
          projectStartDate = projectStartDate.split("T");
          projectEndDate = projectEndDate.split("T");
          const edit = "#project_edit_popup";
          $(edit).show();
          $(`${edit} #project-edit-form`).data("no", no);
          $(`${edit} input[name=projectName]`).attr("value", projectName);
          $(`${edit} input[name=projectStartDate]`).attr(
            "value",
            projectStartDate[0]
          );
          $(`${edit} input[name=projectEndDate]`).attr(
            "value",
            projectEndDate[0]
          );
          $(`${edit} input[name=link]`).attr("value", link);
          $(`${edit} input[name=property]`).attr("value", addCommas(property));
        })
        .catch(err => console.error(err));
    });

    // UTM 팝업창
    $("#project-list-tbody .table-tr .buttn").click(e => {
      e.preventDefault();
      const utm = $("#project-list-tbody tr.table-tr").data("utm");
      $("#project-utm-popup").show();
      $("#project-utm-popup div.form-group .col-md-12 input").val(utm);
    });

    // 프로젝트 삭제 버튼 클릭
    $("#project-list-tbody .table-tr .delete-btn").click(function (e) {
      e.preventDefault();
      const no = $(this).parent().data("no");
      confirm("해당 프로젝트를 삭제하시겠습니까?") &&
        axios
          .delete(`/rest/project?no=${no}`)
          .then(res => {
            alert("성공적으로 해당 프로젝트가 삭제되었습니다");
            window.location.reload();
          })
          .catch(err => console.error(err));
    });

    const numberAllow = selector => {
      $(selector).on("keyup", () =>
        $(selector).val(
          addCommas(
            $(selector)
              ?.val()
              ?.replace(/[^0-9]/g, "")
          )
        )
      );
    };


      $("#removeProduct").click(()=>{
          if (window.confirm("제품에 포함된 프로젝트들은 삭제됩니다 \n 제품을 삭제하시겠습니까?")) {
              axios.delete( `/rest/product?productNo=${productNo}`)
                  .then(res => {
                      alert("제품을 삭제했습니다.");
                      window.location.reload();
                  })
              .catch(err=>{
                  alert(err);
              })
          }
      })

      numberAllow(".onlyNumber");
    numberAllow(".onlyNumberEdit");

    $("#create-project").click(e => {
      const projectReg = /[A-z가-힣0-9]{1,20}$/;
      let param = {};
      let check = true;
      $("#project-form input, select").each(function () {
          if (!$(this).hasClass("user-write")) param[$(this).attr("name")] = $(this)?.val()?.replace(/,/gi, "");
      });

      param["crawlSiteListModel.no"] = $(
        "select[name='crawlSiteListModel.no']"
      ).val();

      if (param["crawlSiteListModel.no"] == "999") {
          param["source"] = $("input[name='source']").val();
          param["medium"] = $("input[name='medium']").val();
          delete param["method"];
      } else {
          delete param["source"];
          delete param["medium"];
      }

      console.log(param);

      const conditions = [
        {
          condition: !projectReg.test(param["projectName"]),
          msg: "프로젝트명은 1자 이상 20자 이하여야 합니다",
        },
        {
          condition: param["startDate"] > param["endDate"],
          msg: "시작 날짜는 끝 날짜보다 빨라야 합니다",
        },
        // {
        //   condition: !$("#link button").attr("disabled"),
        //   msg: "링크 유효성이 확인되지 않았습니다",
        // },
      ];
      for (let i = 0; i < conditions.length; i++) {
        const { condition, msg } = conditions[i];
        if (condition) {
          alert(msg);
          e.preventDefault();
          return;
        }
      }

      if (!$("#project-name-check").attr("disabled")) {
          alert("프로젝트명을 중복 확인해 주세요.");
          e.preventDefault();
          return false;
      }

      $.each(param, (key, value) => {
        if (value.length == 0) {
          alert("모든 내용을 입력해 주세요");
          e.preventDefault();
          check = false;
          return check;
        }
      });
      if (!check) return;

      param["startDate"] += " 00:00";
      param["endDate"] += " 23:59";

      console.log(param);

      /*
        axios
          .post("/rest/project", param)
          .then(res => {
            console.log(res.data);
          })
          .catch(err => console.error(err));
         */

      $.ajax({
        url: "/rest/project",
        type: "POST",
        data: param,
        contentType: "application/x-www-form-urlencoded; charset=UTF-8;",
        success(result) {
          if (result == "failed") {
            alert("제품 등록에 실패했습니다");
            e.preventDefault();
            return false;
          }
          alert("프로젝트 등록이 완료되었습니다");

          $("#project-form input, select").each(function () {
            if ($(this).attr("name") != "productModel.no") $(this).val("");
          });
          $("#project_add_popup").hide();

          /*
            $("#project_list").load(
              "/user/project-list?productNo=" +
                $("input[name='productModel.no']").val() +
                " #reload_panel"
            );
             */
          window.location.reload();
        },
      });
    });

    $("#edit-project").click(e => {
      e.preventDefault();
      const getInput = name =>
        $(`#project-edit-form input[name=${name}]`).val();
      const no = $("#project-edit-form").data("no");
      const projectReg = /[A-z가-힣0-9]{1,20}$/;
      const project_name = getInput("projectName");
      let project_start_date = getInput("projectStartDate");
      let project_end_date = getInput("projectEndDate");
      const link = getInput("link");
      const property = getInput("property")?.replaceAll(",", "");
      const conditions = [
        {
          con: !projectReg.test(project_name),
          msg: "프로젝트명은 20자 이하 혹은 영문 한글만 입력해주세요",
        },
        {
          con: project_start_date > project_end_date,
          msg: "시작 날짜는 끝 날짜보다 빨라야 합니다",
        },
        // {
        //   con: !$("#link-edit button").attr("disabled"),
        //   msg: "링크 유효성이 확인되지 않았습니다",
        // },
      ];
      for (let i = 0; i < conditions.length; i++) {
        const { con, msg } = conditions[i];
        if (con) {
          alert(msg);
          return;
        }
      }
      // const conditionList = [{condition: !projectReg.test(project_name)}]
      project_start_date += " 00:00";
      project_end_date += " 23:59";
      axios
        .patch(`${NODE_SERVER}/project/${no}`, {
          project_name,
          link,
          project_start_date,
          project_end_date,
          property,
        })
        .then(res => {
          alert("성공적으로 해당 프로젝트가 수정되었습니다!");
          window.location.reload();
        })
        .catch(err => alert("수정에 실패하였습니다. 관리자에게 문의하십시오"));
    });

    // url validation
    urlValidation("#link-edit");

    // get pr method list
    $("select[name='crawlSiteListModel.no']").change(function (e) {
        if (e.target.value == 999) {
            $("select[name='method']").parent(".form-group").css("display", "none");
            $("#user-write-form").css("display", "block");
            e.preventDefault();
            return false;
        }

        $("select[name='method']").parent(".form-group").css("display", "block");
        $("#user-write-form").css("display", "none");

      $.get("/rest/project/pr-method/list?siteNo=" + $(this).val(), data => {
        console.log(data);
        $("select[name='method']").html("");
        for (let i of data) {
          let pType = i.ptype == "P" ? "홍보" : "광고";

          $("select[name='method']").append(
            "<option value='" + i.ptype + "'>" + pType + "</option>"
          );
        }
      });
    });

    // url validation
    urlValidation("#link");

    // paging
    $(document).on("click", ".page-item", function (e) {
      let page = $(this).val();

      if ($(this).text() == "이전" || $(this).text() == "다음") {
        if ($(this).hasClass("disabled")) return;
        else if ($(this).hasClass("active")) return;

        $(this).text() == "이전" ? (page -= 1) : (page += 1);

        $("#project_list").load(
          "/user/project-list?productNo=" +
            productNo +
            "&page=" +
            page +
            " #project_list"
        );
      }
    });

    // 스케줄러 기능 즉시 실행
    $("#project-refresh").click(e => {
      if (!confirm("프로젝트 데이터를 새로고침 하시겠습니까?")) {
        e.preventDefault();
        return false;
      }
      axios
        .patch(`/rest/project/update/data?productNo=${productNo}`)
        .then(res => {
          console.log(res);
          alert("새로고침이 완료되었습니다.");
          window.location.reload();
        })
        .catch(err => {
          console.log(err);
          alert("새로고침할 수 없습니다.");
          return false;
        });
    });

    // GTM 생성
      $("#create-gtm-btm").click((e) => {
          if (!confirm("GTM 을 생성하시겠습니까? \n태그 생성까지 약 5분이 소요됩니다.")) {
              e.preventDefault();
              return;
          }

          $("#ga-gtag").show();
          axios
              .get("/rest/gtm/set")
              .then((res) => {
                  console.log("complete");
                  $("#ga-gtag").hide();
                  $("#gtag-complete").show();
              })
              .catch((err) => {
                  console.error(err);
                  alert("오류가 발생했습니다. 관리자에게 문의하세요.");
                  $("#ga-gtag").hide();
                  location.reload();
              });

      });

      $("#gtag-complete .ok").click(() => {
          let productNo = $("input[name='productModel.no']").val();

          axios
              .post("/rest/gtm/" + productNo)
              .then((res) => {
                  alert("GTM 생성이 완료되었습니다.");
                  window?.open(`/react/react.html?productNo=${productNo}`);
                  location.reload();
              })
              .catch((err) => {
                  console.log(err);
                  alert("오류가 발생했습니다. 관리자에게 문의하세요.")
                  location.reload();
              });
      });

      $("#gtag-complete .delete").click(e => {
          if (confirm("정말 GTM 생성을 취소하시겠습니까?")) {
              e.preventDefault();
              $("#gtag-complete").hide();
              return false;
          }
      });

      const category = /*[[${category}]]*/
      // 대분류 선택
      $("select[name='bigCategoryModel.no']").change(e => {
          let small = $("select[name='smallCategoryModel.no']");

          for (let i of category) {
              if (i.no == e.target.value) {
                  small.html("");
                  for (let j of i.smallCategoryList)
                      small.append(`<option value=${j.no}>${j.name}</option>`);
                  return;
              }
          }
      });


      // 프로젝트명 중복확인
      let nameCheckBtn = $("#project-name-check");
      nameCheckBtn.click(e => {
          e.preventDefault();

          let input = $("input[name=projectName]");
          let projectName = input.val();
          if (projectName.length === 0) {
              alert("프로젝트명을 입력해 주세요.");
              return false;
          }

          let productNo = $("input[name='productModel.no']").val();
          $.ajax({
              url: "/rest/project/find",
              type: "GET",
              data: {
                  productNo,
                  projectName
              },
              success: () => {
                  alert("중복 확인이 완료되었습니다.");
                  nameCheckBtn.attr("disabled", true);
              },
              error: () => {
                  alert("해당 브랜드에 중복되는 광고명이 있습니다.");
                  input.val("");
                  input.focus();
              }
          })
      });

  });

</script>
