<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  var oAuthId = "[[${oAuthId}]]";
  var oAuthRedirect = "[[${oAuthRedirect}]]";
  var oAuthScope = "[[${oAuthScope}]]";


  location.href =
    "https://accounts.google.com/o/oauth2/v2/auth/oauthchooseaccount?" +
    "client_id=" +
    oAuthId +
    "&redirect_uri=" +
    oAuthRedirect +
    "&response_type=code" +
    "&scope=" +
    oAuthScope +
    "&approval_prompt=force" +
    "&flowName=GeneralOAuthFlow";
</script>
