/* 공통 사용 */
body {
  font-family: 'Futura-Bold', arial;
}
ul {
  list-style: none;
}
.center {
  text-align: center;
  margin: 0 auto;
}

/* 로그인 회원가입 공통 */
#wrapper button {
  border: none;
  text-decoration: none;
}
#wrapper .login {
  min-height: -webkit-calc(100% - 176px);
  min-height: -moz-calc(100% - 176px);
  min-height: calc(100% - 176px);
  padding: 120px 0 170px;
  box-sizing: border-box;
  text-align: center;
}
#wrapper .login .center {
  width: 465px;
}
#wrapper .login .logo {
  display: inline-block;
  margin-bottom: 80px;
}
#wrapper .login .logo img {
  display: block;
}
#wrapper .login .title {
  font-size: 28px;
  font-weight: 900;
  color: #222;
}
#wrapper .login .textBox {
  padding: 20px 0;
  margin-top: 30px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.16);
}
#wrapper .login .textBox .text01 {
  font-size: 14px;
  color: #222;
}
#wrapper .login .textBox .text02 {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  margin-top: 10px;
}
#wrapper .login .formBox {
  margin-top: 40px;
  margin-left: -40px;
}
#wrapper .login .formBox .form_title {
  font-size: 14px;
  font-weight: bold;
  color: #222;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 40px;
}
#wrapper .login .formBox li {
  margin-bottom: 10px;
}
#wrapper .login .formBox li .inputBox {
  width: 100%;
  height: 56px;
  border: 1px solid #dadada;
  box-sizing: border-box;
  border-radius: 4px;
}
#wrapper .login .formBox li .inputBox input {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #222;
  text-align: left;
  padding: 0 20px;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: transparent;
}
#wrapper .login .formBox li.inc_btn {
  font-size: 0;
}
#wrapper .login .formBox li.inc_btn .inputBox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 315px;
}
#wrapper .login .formBox li.inc_btn .inputBox .time {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: bold;
  color: #222;
}
#wrapper .login .formBox li a {
  display: inline-block;
  vertical-align: middle;
  width: 140px;
  line-height: 56px;
  font-size: 14px;
  font-weight: bold;
  color: #319fdc;
  border: 1px solid #319fdc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 10px;
}
#wrapper .login .formBox li a.btn_style1 {
  background-color: #3f3f40 !important;
  border: 1px solid #3f3f40 !important;
  color: #fff;
}
#wrapper .login .formBox .outline-btn {
  display: inline-block;
  vertical-align: middle;
  width: 140px;
  line-height: 56px;
  font-size: 14px;
  font-weight: bold;
  color: #3f3f40;
  background-color: white;
  border: 1px solid #3f3f40;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 10px;
  cursor: pointer;
}
#wrapper .login .formBox .btn_style1 {
  display: inline-block;
  vertical-align: middle;
  width: 140px;
  line-height: 56px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #319fdc;
  border: 1px solid #319fdc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 10px;
  cursor: pointer;
}
#wrapper .login .formBox .option {
  position: relative;
  text-align: left;
}
#wrapper .login .formBox .option input[type="checkbox"] {
  display: none;
}
#wrapper .login .formBox .option input[type="checkbox"] + label {
  display: inline-block;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #222;
  padding-left: 30px;
  background-image: url(../img/icon_check_off.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 20px;
}
#wrapper .login .formBox .option input[type="checkbox"]:checked + label {
  background-image: url(../img/icon_check_on.png);
}
#wrapper .login .formBox .option p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  font-size: 12px;
  color: #ff1616;
  letter-spacing: -0.03em;
}
#wrapper .login .formBox .bottomBtn {
  display: block;
  width: 100%;
  line-height: 63px;
  border-radius: 4px;
  background-color: #3f3f40;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  border: none;
}
#wrapper .login .otherLink {
  margin-top: 40px;
  font-size: 14px;
  color: #8e8e8e;
}
#wrapper .login .otherLink a {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #8e8e8e;
}
#wrapper .login .btnBox {
  font-size: 0;
  margin-top: 60px;
}
#wrapper .login .btnBox a {
  display: inline-block;
  vertical-align: middle;
  width: 222px;
  line-height: 58px;
  border-radius: 4px;
  border: 1px solid #319fdc;
  font-size: 16px;
  font-weight: bold;
  color: #319fdc;
  text-align: center;
  box-sizing: border-box;
}
#wrapper .login .btnBox a:first-child {
  background-color: #319fdc;
  color: #fff;
  margin-right: 20px;
}
