.date-input {
    width: 150px;
}
.inline {
    display: inline;
}
.date-btn {
    background-color: #00AAFF !important;
    border-color: #00a0f0 !important;
    padding: 6px 22px !important;
}
.reset-btn {
    background-color: #5bc0de !important;
    border-color: #5bc0de !important;
    padding: 6px 22px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.chartBtn {
    cursor: pointer;
}

#urban-logo {
    width: 100px;
    padding: 20px;
    padding-top: 25px;
}

#left-navbar {
    padding-top: 20px;
}

.pagination {
    padding-left: 25px;
}

.pagination a {
    cursor: pointer;
}

.disabled {
    color: gray !important;
}

#link .col-md-9, .f-input .col-md-9 {
    padding-right: 0;
}
#link .col-md-3, .f-input .col-md-3 {
    padding-left: 0;
}

#product_list_h3 {
    padding-bottom: 0;
}

#product_list_form {
    padding-top: 0;
}

#product_list_form button {
    margin-right: 10px;
}

@media screen and (max-width: 991px) {
    #link .col-md-9, .f-input .col-md-9 {
        padding-right: 15px;
    }
    #link .col-md-3, .f-input .col-md-3 {
        padding-left: 15px;
        margin-top: 12px;
    }
}

#product_list_form .input-group {
    z-index: 1;
}

.pagination_nav {
    text-align: center;
}