.ga-button {
  float: none;
}
.ga-sizing {
  width: 500px !important;
  margin-top: 30px;
  max-height: 600px;
  overflow-y: auto;
}
.ga-sizing h4 {
  line-height: 1.45em;
}
.layer_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b3;
  z-index: 1;
}
.layer_popup .popup_main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 400px;
  overflow-x: hidden !important;
  font-size: 15px;
  padding: 0px 10px 40px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  z-index: 1;
}
.layer_popup .popup_main p {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #222;
  margin-top: 30px;
  line-height: 1.4;
}
.layer_popup .popup_main .scroll-box {
  max-height: 130px;
  overflow-y: auto;
}
.layer_popup .popup_main .scroll-box tr th {
  text-align: center;
}

.layer_popup .popup_main .popup_title {
  font-size: 20px;
  font-weight: bold;
  color: #222;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid gray;
  margin-bottom: 15px;
}
.layer_popup .popup_main .popup_title a {
  font-weight: lighter;
  font-size: 24px;
  margin-left: 10px;
  color: lightgray;
  cursor: auto;
}
.layer_popup .popup_main .popup_title a.popup-enable {
  font-weight: bold;
  color: #6781ff;
}
.layer_popup .popup_main .closeBtn {
  position: absolute;
  top: 3px;
  right: 3px;
}
.layer_popup .popup_main .closeBtn img {
  display: block;
  width: 40px;
}

/* GA 팝업 페이지 3 테이블 CSS */
.layer_popup .popup_main .popup-table-sizing {
  max-height: 300px;
  overflow: auto;
}
.layer_popup .popup_main .popup-table-sizing tbody {
  text-align: left;
}

/* GA 팝업 2페이지 버튼 스타일링 */
@media screen and (min-width: 992px) {
  #ga-new-select .popup_main .col-md-6 {
    padding-right: 0px !important;
  }
}
#ga-new-select .popup_main .col-md-6 button {
  border-radius: 8px;
  font-weight: bolder;
}

@media (max-width: 600px) {
  .popup_main {
    margin-top: 30px;
    max-height: 60vh;
    width: 90% !important;
    overflow-y: auto;
  }
}

/* GA 팝업 3페이지 부분 중 기존 제품 선택 팝업 테이블 스타일 */
#ga-product-table .popup_main div.product-table {
  padding: 0 20px 0;
  max-height: 300px;
  overflow-y: auto;
}

.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}
.google-button:focus,
.google-button:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.google-button:active {
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms;
}
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.google-button__icon--plus {
  width: 27px;
}
.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", arial, sans-serif;
}
button ~ button {
  margin-left: 20px;
}

#ga-product-select .ga-sizing {
  overflow-y: unset !important;
}

@media screen and (max-width: 991px) {
  .webkit-fill {
    width: unset !important;
  }
  #ga-new-select .popup_main .col-md-6 button {
    width: 100% !important;
  }
  .mobile-mb-10 {
    margin-bottom: 10px;
  }
}

.webkit-fill {
  width: -webkit-fill-available;
}

/*팝업 창 1 페이지 다음 버튼*/
.goo {
  margin-bottom: -20px;
}

/* text 공통 */
.text-right {
  text-align: right;
}

.text-initial {
  text-align: initial;
}

.prev-page-3 {
  position: absolute;
  top: 15px;
  left: 3%;
  font-size: 16px;
}


/* 새로고침 버튼 */
#project-refresh {
  float: right;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}