.chartFilter img {
    width: 30px;
}
.chartFilter {
    position: relative;
}
.chartFilterBtn {
    display: inline-block;
    top: 2px;
    position: absolute;
    right: 2px;
}
#productSelectArea {
    margin-top: 20px;
    overflow-y: scroll;
    max-height: 400px;
}
.fancy-checkbox {
    text-align: left;
}
#productSelectArea::-webkit-scrollbar {
    width: 10px;
}
#productSelectArea::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;
    border-radius: 10px;
}
#productSelectArea::-webkit-scrollbar-track {
    background-color: #e9e9e9;
    border-radius: 10px;
}

.chartBtn {
    height: 95px !important;
}