@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    font-family: 'Noto Sans KR', sans-serif;
    user-select: none;
}
*:focus{
    outline: 0;
}

option{
    text-align: center;
}

body{
    background: #ebf5fc;
}

input[type="checkbox"]{
    display: none;
}

input[type="radio"]{
    display: none;
}

article{
    margin-top:100px;
    display: flex;
    justify-content: center;
}

section{
    width: 500px;
    height: 750px;
    border-radius: 15px;
    padding: 60px 40px;
    background: #fff;
    margin: 50px 120px 0;
    box-shadow: -0.2rem -0.2rem 0.4rem #ccc, 0.2rem 0.2rem 0.4rem lightgray;
}

section > h2{
    font-weight: 600;
    margin-bottom: 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

section > .inputBox{
    padding: 30px 0;
    border-top: 1px solid black;
}

section>.inputBox > div{
    display: flex;
    margin-bottom: 25px;
}


section>.inputBox>.cateBox>label{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

section > .inputBox >div>label{
    color: #61677c;
    box-shadow: 0 0 10px rgba(0,0,0,0.2), inset 0 0 3px rgba(0,0,0,0.3);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    padding: 1.5em 0.9em;
    border-radius: 5px;
    font-size: 2rem;
    transform: rotateX(15deg)
}

section > .inputBox >div>label>p{
    font-weight: 600;
    font-size: 2rem;
}


input[type="checkbox"]:checked ~ label{
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

input[type="checkbox"]:checked ~ .gender,input[type="checkbox"]:checked ~ .age{
    opacity: 1;
    pointer-events: auto;
}

input[type="checkbox"]:checked ~ .cateGory{
    opacity: 1;
    pointer-events: auto;
}

section>.inputBox .gender,section>.inputBox .age{
    width: 75%;
    opacity: 0;
    z-index: 2;
    display: inline-block;
    padding: 1.5em;
    line-height: 2rem;
    transition: all 0.5s cubic-bezier(.02,.65,1,.58) ;
    pointer-events: none;
}

section>.inputBox .gender >label{
    cursor: pointer;
    margin: 0 20px;
}

section>.inputBox .gender >label span{
    font-size: 3.5rem;
    transition: all 0.5s ease-in-out;
}

i{
    transition: all 0.5s ease-in-out;
}

input[type="radio"]:checked ~ i{
    color: #ff5722;
}

input[type="radio"]:checked ~ span{
    color: #ff5722;
}

.age select{
    width: 270px;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    background: #fff;
    cursor: pointer;
    margin: 10px 0;
}

.cateBox{
    display: block!important;
}

.cateBox >.cateGory{
    display: flex;
    justify-content: space-around;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.cateBox >.cateGory div{
    width: 45%;
}

.cateBox >.cateGory div select{
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.2em;
    background: #fff;
}

section>.sendBox{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

section >.sendBox  .btn {
    width: 180px;
    height: 50px;
    line-height: 3.5rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: #000;
    transform: rotateX(15deg);
    border: none;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2), inset 0 0 3px rgba(0,0,0,0.3);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

section >.sendBox .btn:hover,section >.sendBox .btn:active {
    background-color: #ff5722;
    box-shadow: -1px 15px 20px rgba(119, 29, 0, 0.73);
    color: #fff;
    transform: translateY(-7px);
}

.loading{
    position: relative;
    width: 119%;
    height: 119%;
    pointer-events: none;
    background: #63d2f3;
    border-radius: 15px;
    display: none;
    margin: -60px -40px;
}

#animationWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
}

.resultSec{
    width: 800px;
}

#result{
    display: none;
}