<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ROI-MAIN</title>
    <link
      href="https://allfont.net/allfont.css?fonts=futura-bold"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="/assets/ico/apple-touch-icon-144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="/assets/ico/apple-touch-icon-114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="/assets/ico/apple-touch-icon-72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="/assets/ico/apple-touch-icon-57-precomposed.png"
    />

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5JG3TTF');</script>
    <!-- End Google Tag Manager -->

  </head>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5JG3TTF"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <body>
    <!-- Top content -->
    <div class="top-content">
      <!-- Top menu -->
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#top-navbar-1"
            >
              <span class="sr-only">Toggle navigation</span>
              <div class="icon-bar"></div>
              <div class="icon-bar"></div>
              <div class="icon-bar"></div>
            </button>
            <a class="navbar-brand" href="">.</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Home</a></li>
              <li><a href="/user/product-list">Dashboard</a></li>
              <li>
                <a
                  class="btn btn-link-3"
                  th:href="@{/login}"
                  th:if="${session.loginInfo == null}"
                  >Login</a
                >
                <a
                  class="btn btn-link-3"
                  th:href="@{/logout}"
                  th:if="${session.loginInfo != null}"
                  >Logout</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="top-content-container">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text wow fadeInLeft">
              <h1 style="font-size: 60px">URBAN ROI System</h1>
              <div class="description">
                <p class="medium-paragraph">
                  Developed By
                  <a href="https://www.urbandigital.com/" target="_blank"
                    >UrbanDigitalMarketing</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Features -->
    <div class="features-container section-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 features section-description wow fadeIn">
            <h2>소개 리스트</h2>
            <div class="divider-1">
              <div class="line"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 features-box wow fadeInLeft">
            <div class="row">
              <div class="col-sm-3 features-box-icon">
                <i class="fas fa-chart-line"></i>
              </div>
              <div class="col-sm-9">
                <h3>통합 ROAS/ROI 관리</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et. Ut wisi enim ad
                  minim veniam, quis nostrud.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 features-box wow fadeInLeft">
            <div class="row">
              <div class="col-sm-3 features-box-icon">
                <i class="fas fa-coins"></i>
              </div>
              <div class="col-sm-9">
                <h3>쉬운 브랜딩 성과 측정</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et. Ut wisi enim ad
                  minim veniam, quis nostrud.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 features-box wow fadeInLeft">
            <div class="row">
              <div class="col-sm-3 features-box-icon">
                <i class="fas fa-cogs"></i>
              </div>
              <div class="col-sm-9">
                <h3>마케팅 전략 추천 시스템</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et. Ut wisi enim ad
                  minim veniam, quis nostrud.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 features-box wow fadeInLeft">
            <div class="row">
              <div class="col-sm-3 features-box-icon">
                <i class="fas fa-sliders-h"></i>
              </div>
              <div class="col-sm-9">
                <h3>효과적이고 편리한 광고관리</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et. Ut wisi enim ad
                  minim veniam, quis nostrud.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 footer-copyright">
            &copy;
            <a href="https://www.urbandigital.com/" target="_blank"
              >URBAN DIGITAL MARKETING</a
            >
          </div>
        </div>
      </div>
    </footer>

    <!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.1.18/jquery.backstretch.min.js"
      integrity="sha512-bXc1hnpHIf7iKIkKlTX4x0A0zwTiD/FjGTy7rxUERPZIkHgznXrN/2qipZuKp/M3MIcVIdjF4siFugoIc2fL0A=="
      crossorigin="anonymous"
    ></script>
    <script src="/assets/js/scripts.js"></script>
  </body>
</html>
