<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5JG3TTF"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div th:fragment="body-link">
  <!-- Javascript -->
  <script src="/template/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/template/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/template/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
  <script src="/template/assets/vendor/chartist/js/chartist.min.js"></script>
  <script src="/template/assets/scripts/klorofil-common.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</div>
