<div th:fragment="footer">
  <div class="clearfix"></div>
  <footer>
    <div class="container-fluid">
      <p class="copyright">&copy; 2021 <a href="https://www.urbandigital.com/" target="_blank">Urban Digital Marketing</a>. All Rights Reserved.</p>
    </div>
  </footer>
</div>
