<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top" th:fragment="header-navbar">
  <div class="brand" id="urban-logo">
    <a href="/"><img src="/img/urban_logo.png" alt="Urban Logo" class="img-responsive logo"></a>
  </div>
  <div class="container-fluid">
    <div class="navbar-btn">
      <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
    </div>
    <div class="navbar-btn navbar-btn-right">
      <a class="btn btn-primary" th:href="@{/logout}" th:if="${session.loginInfo != null}" ><span>LOGOUT</span></a>
    </div>
    <div id="navbar-menu">
      <ul class="nav navbar-nav navbar-right">
<!--        <li class="dropdown">-->
<!--&lt;!&ndash;          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>&ndash;&gt;-->
<!--          <ul class="dropdown-menu">-->
<!--            <li><a href="#">Basic Use</a></li>-->
<!--            <li><a href="#">Working With Data</a></li>-->
<!--            <li><a href="#">Security</a></li>-->
<!--            <li><a href="#">Troubleshooting</a></li>-->
<!--          </ul>-->
<!--        </li>-->


        <li class="dropdown">
          <a th:if="${session.loginInfo != null}" href="#" class="dropdown-toggle" data-toggle="dropdown"><span style="display: inline-block;font-weight: bold" th:text="${session.loginInfo.getName()}"></span> 님 안녕하세요</a>
<!--          <ul class="dropdown-menu">-->
<!--            <li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>-->
<!--            <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>-->
<!--            <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>-->
<!--            <li><a th:href="@{/logout}" th:if="${session.loginInfo != null}"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>-->
<!--          </ul>-->
        </li>
        <!-- <li>
            <a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<!-- END NAVBAR -->