<head th:fragment="header-link">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/template/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/template/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/template/assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="/template/assets/vendor/chartist/css/chartist-custom.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/template/assets/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="/template/assets/css/demo.css">
    <!-- Other CSS -->
    <link rel="stylesheet" href="/template/assets/css/other.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5JG3TTF');</script>
    <!-- End Google Tag Manager -->
</head>
