<div th:fragment="left-sidebar">
  <!-- LEFT SIDEBAR -->
  <div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
      <nav id="left-navbar">
        <ul class="nav">
          <li><a href="/user/product-list" class="active"><i class="lnr  lnr-chart-bars"></i> <span>Dashboard</span></a></li>
          <li><a href="/recommend" ><i class="lnr  lnr-thumbs-up"></i> <span>Recommend</span></a></li>
<!--          <li><a href="#" class=""><i class="lnr lnr-cog"></i> <span>Setting</span></a></li>-->
<!--          <li><a href="#" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>-->
          <!--
          <li>
            <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
            <div id="subPages" class="collapse ">
              <ul class="nav">
                <li><a href="#" class="">Profile</a></li>
                <li><a href="#" class="">Login</a></li>
                <li><a href="#" class="">Lockscreen</a></li>
              </ul>
            </div>
          </li>
          -->
        </ul>
      </nav>
    </div>
  </div>
  <!-- END LEFT SIDEBAR -->
</div>
