@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

.font-weight-700 {
  font-weight: 700;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR" !important;
  background-color: #fffbfb;
}
img {
  box-shadow: -1px 0px 11px -3px;
}
.header-bg {
  background-color: #43a1ee;
  padding: 24px;
}
.header-bg .logo-text {
  font-size: 24px;
  color: white;
  line-height: 3em;
}
.tab-screen .md-display-1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
}

.MuiTab-root {
  min-width: 70px !important;
}
.MuiTabs-scroller {
  overflow: auto !important;
}
.PrivateTabIndicator-colorSecondary-3,
.jss3 {
  background-color: #fff !important;
}
.PrivateTabIndicator-root-1,
.jss1 {
  height: 4px !important;
}
