<!--구글 애널리틱스 연동 팝업 (Page 1)-->
<div id="ga-connect" class="layer_popup" style="display: none">
  <div class="popup_main ga-sizing">
    <a href="" class="closeBtn">
      <img src="/img/icon_close.png" />
    </a>
    <div class="popup_title">
      <a class="popup-enable" href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <br />구글 애널리틱스 연동
    </div>
    <div class="mb-20">
      사이트 등록을 위해서 구글과<br />
      연동이 필요합니다.
    </div>
    <div class="mb-20">
      <button type="button" class="google-button">
        <span class="google-button__icon">
          <svg viewBox="0 0 366 372" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M125.9 10.2c40.2-13.9 85.3-13.6 125.3 1.1 22.2 8.2 42.5 21 59.9 37.1-5.8 6.3-12.1 12.2-18.1 18.3l-34.2 34.2c-11.3-10.8-25.1-19-40.1-23.6-17.6-5.3-36.6-6.1-54.6-2.2-21 4.5-40.5 15.5-55.6 30.9-12.2 12.3-21.4 27.5-27 43.9-20.3-15.8-40.6-31.5-61-47.3 21.5-43 60.1-76.9 105.4-92.4z"
              id="Shape"
              fill="#EA4335"
            />
            <path
              d="M20.6 102.4c20.3 15.8 40.6 31.5 61 47.3-8 23.3-8 49.2 0 72.4-20.3 15.8-40.6 31.6-60.9 47.3C1.9 232.7-3.8 189.6 4.4 149.2c3.3-16.2 8.7-32 16.2-46.8z"
              id="Shape"
              fill="#FBBC05"
            />
            <path
              d="M361.7 151.1c5.8 32.7 4.5 66.8-4.7 98.8-8.5 29.3-24.6 56.5-47.1 77.2l-59.1-45.9c19.5-13.1 33.3-34.3 37.2-57.5H186.6c.1-24.2.1-48.4.1-72.6h175z"
              id="Shape"
              fill="#4285F4"
            />
            <path
              d="M81.4 222.2c7.8 22.9 22.8 43.2 42.6 57.1 12.4 8.7 26.6 14.9 41.4 17.9 14.6 3 29.7 2.6 44.4.1 14.6-2.6 28.7-7.9 41-16.2l59.1 45.9c-21.3 19.7-48 33.1-76.2 39.6-31.2 7.1-64.2 7.3-95.2-1-24.6-6.5-47.7-18.2-67.6-34.1-20.9-16.6-38.3-38-50.4-62 20.3-15.7 40.6-31.5 60.9-47.3z"
              fill="#34A853"
            />
          </svg>
        </span>
        <span class="google-button__text">Sign in with Google</span>
      </button>
    </div>
  </div>
</div>
<!-- 새로 생성할거야? 아니면 기존꺼 쓸거야? (Page 2)-->
<div id="ga-new-select" class="layer_popup" style="display: none">
  <div class="popup_main ga-sizing">
    <a href="" class="closeBtn">
      <img src="/img/icon_close.png" />
    </a>
    <div class="popup_title">
      <a href="#">1</a>
      <a class="popup-enable" href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <br />애널리틱스 등록
    </div>
    <div class="mb-20">
      GA 기존 계정 사용 혹은<br />
      새로 계정을 생성하여 사용하는지에 대한<br />
      여부 선택입니다.
    </div>
    <div class="row">
      <div class="col-md-6">
        <button
          id="old-product"
          type="button"
          class="btn btn-primary webkit-fill mobile-mb-10"
        >
          기존 계정 선택하기
        </button>
      </div>
      <div class="col-md-6" style="padding-right: 15px !important">
        <button
          id="new-product"
          type="button"
          class="btn btn-primary webkit-fill"
        >
          새 계정 생성하기
        </button>
      </div>
    </div>
  </div>
</div>

<!--구글 애널리틱스 기존 제품 선택 팝업 (Page 3)-->
<div id="ga-product-table" class="layer_popup" style="display: none">
  <div class="popup_main ga-sizing">
    <a href="" class="prev-page-3"> < 이전 </a>
    <a href="" class="closeBtn">
      <img src="/img/icon_close.png" />
    </a>
    <div class="popup_title">
      <a href="#">1</a>
      <a href="#">2</a>
      <a class="popup-enable" href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <br />기존 속성 선택하기
    </div>
    <div class="mb-20">
      다음 계정들 중 속성 생성을 원하는<br />
      계정을 선택해주세요
    </div>
    <div class="product-table">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>계정 고유번호</th>
            <th class="text-right">계정 이름</th>
          </tr>
        </thead>
        <tbody class="cursor text-initial"></tbody>
      </table>
    </div>
  </div>
</div>

<!--구글 애널리틱스 제품 이름 입력 팝업 (Page 3)-->
<div id="ga-product-select" class="layer_popup" style="display: none">
  <div class="popup_main ga-sizing">
    <a href="" class="prev-page-3"> < 이전 </a>
    <a href="" class="closeBtn">
      <img src="/img/icon_close.png" />
    </a>
    <div class="popup_title">
      <a href="#">1</a>
      <a href="#">2</a>
      <a class="popup-enable" href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <br />새 애널리틱스 계정 생성하기
    </div>
    <div class="mb-20">
      생성을 원하시는 브랜드 이름을<br />
      입력해주세요.
    </div>
    <form class="product-check" id="link">
      <div class="form-group mb-20">
        <label>브랜드 이름 입력</label>
        <div class="row">
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              placeholder="브랜드 이름을 입력해주세요"
            />
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-primary webkit-fill">
              확인
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- 자사 등록 팝업 (Page 4)-->
<div id="company-register" class="layer_popup" style="display: none">
  <div class="popup_main ga-sizing" style="overflow-x: hidden">
    <a href="" class="closeBtn">
      <img src="/img/icon_close.png" />
    </a>
    <div class="popup_title">
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a class="popup-enable" href="#">4</a>
      <a href="#">5</a>
      <br />자사 홈페이지를 등록해주세요
    </div>
    <form class="f-input" id="homepage" style="padding: 20px">
      <div class="form-group">
        <label>자사몰 웹사이트 이름</label>
        <div class="row">
          <div class="col-md-12">
            <input
              type="text"
              class="form-control"
              placeholder="자사몰 웹사이트 이름을 입력해주세요"
              minlength="3"
              maxlength="10"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>자사몰 웹사이트 URL</label>
        <div class="row">
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              placeholder="https://www.example.com"
            />
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-primary webkit-fill">
              확인
            </button>
          </div>
        </div>
      </div>
      <div class="mb-20">
        <a href="" class="next-page page-4">
          <img style="width: 30px" src="/img/icon_next.png" />
          <span>다음</span>
        </a>
      </div>
    </form>
  </div>
</div>

<!--구글 애널리틱스 연동 완료 팝업 (Page 5)-->
<div id="ga-connect-complete" class="layer_popup" style="display: none">
  <div class="popup_main ga-sizing">
    <a href="" class="closeBtn">
      <img src="/img/icon_close.png" />
    </a>
    <div class="popup_title">
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a class="popup-enable" href="#">5</a>
      <br />GA 연동 완료
    </div>
    <div class="mt-30 mb-20">
      <img style="width: 100px" src="/img/blue-check.png" alt="complete" />
    </div>
    <h4>성공적으로 브랜드 생성 및 <br />애널리틱스 연동이 완료되었습니다!</h4>
  </div>
</div>
