<div id="ga-gtag" class="layer_popup" style="display: none; padding: 0 10px 0">
    <div class="popup_main ga-sizing" style="padding-bottom: 0 !important;">
<!--        <a href="" class="closeBtn">-->
<!--            <img src="/img/icon_close.png" />-->
<!--        </a>-->
        <div class="popup_title">
            GTM 태그 생성중..
        </div>
        <h4 style="z-index: 999; position: relative;">
            현재 GTM 태그를 생성중입니다 <br />
            태그 생성까지 약 5분이 소요되오니 <br />
            <strong>절대로 창을 닫지 마시고</strong> 잠시 기다려 주십시오
        </h4>
        <img src="/img/loading.gif" style="width: 450px; position: relative; top: -25px;" />
        <!--<div class="mb-20">
          <a href="" class="next-page page-5">
            <img style="width: 30px" src="/img/icon_next.png" />
            <span>다음</span>
          </a>
        </div>-->
    </div>
</div>

<div id="gtag-complete" class="layer_popup" style="display: none; padding: 0 10px 0">
    <div class="popup_main ga-sizing" style="padding-bottom: 20px !important;">
        <div class="popup_title">
            GTM 태그 생성 완료
        </div>
        <h4 style="margin: 50px 0">
            GTM 태그 생성을 완료하시겠습니까? <br />
            <strong>※ 취소시 모든 GTM 생성 작업이 취소됩니다.</strong> <br />
        </h4>
        <div class="mb-20">
            <button style="width: 125px" class="btn btn-primary ok">완료</button>
            <button style="width: 125px" class="btn btn-danger delete">취소</button>
        </div>
    </div>
</div>